.home-container {
  padding: 20px 20px 20px 0px;
  max-width: 1200px;
  margin: 0 auto;
}

.featured-products {
  margin: 20px 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 10px 0;
}

.shop-now-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.shop-now-btn:hover {
  background-color: #45a049;
}

.categories-section {
  margin-top: 2rem;
  /* Reducido de 3rem */
  padding: 0.5rem 0;
  /* Reducido de 1rem */
}

.categories-section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  /* Reducido de 1.5rem */
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  /* Igual al nuevo ancho de la card */
  gap: 0.6rem;
  /* Reducido desde 0.8rem */
  margin-bottom: 1.5rem;
}

.categories-section a {
  text-decoration: none;
  color: inherit;
}

/* Responsive */
@media (max-width: 768px) {
  .categories-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.7rem;
  }
}

@media (max-width: 480px) {
  .categories-grid {
    grid-template-columns: 1fr 1fr;
    gap: 0.6rem;
  }

  .categories-card {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    height: 95px;
    /* Altura ligeramente reducida */
  }

  .category-image-container {
    width: 70px;
    height: 70px;
  }

  .category-name {
    font-size: 18px;
  }
}